<div class="container mt-5">
  <h1>Surveys</h1>
  <%= link_to "+ Create New Survey", new_survey_path, class: "btn btn-primary mb-4" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Question</th>
        <th style="text-align: center">Yes</th>
        <th style="text-align: center">No</th>
        <th style="text-align: center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @surveys.find_each do |survey| %>
        <tr>
          <td class="align-middle"><%= survey.question %></td>
          <td class="align-middle" style="text-align: center"><%= survey.yes_percentage %>%</td>
          <td class="align-middle" style="text-align: center"><%= survey.no_percentage %>%</td>
          <td class="align-middle" style="text-align: center">
            <div>
              <%= link_to 'Show', survey_path(survey), class: 'btn btn-primary' %>
              <%= link_to 'New', new_survey_response_path(survey), class: 'btn btn-primary' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
