<div class="container mt-5">
  <h1><%= @survey.question %></h1>

  <%= link_to "Back to Surveys", surveys_path, class: "btn btn-secondary mt-3" %>
  <hr>

  <p>Yes: <%= @survey.yes_percentage %>%, No: <%= @survey.no_percentage %>%</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Response</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% @responses.each do |response| %>
        <tr>
          <td class="align-middle"><%= response.display_type %></td>
          <td class="align-middle"><%= response.created_at.strftime("%b %d, %Y, %I:%M %p") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
